<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🩴</text></svg>">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.11.2" />
        <link rel="stylesheet" href="/assets/css/main.css" />
    </head>
    <body>
        <object class="flip" data="assets/images/handspring-wide.svg" type="image/svg+xml"></object>
        <main>{{ content }}</main>
    </body>
</html>